%p#notice= notice

%p
  %b Name:
  = @venue.name
%p
  %b Phone:
  = @venue.phone
%p
  %b Email:
  = @venue.email
%p
  %b Contact name:
  = @venue.contact_name
%p
  %b Description:
  = @venue.description

= link_to 'Edit', edit_venue_path(@venue)
\|
= link_to 'Back', venues_path




.row
  .large-12.columns
    / Navigation
    %nav.top-bar{"data-topbar" => ""}
      %ul.title-area
        / Title Area
        %li.name
          %h1
            =link_to @venue.name
        %li.toggle-topbar.menu-icon
          %a{href: "#"}
            %span menu
      %section.top-bar-section
        %ul.left
          %li
            %a{href: "#"} Link 1
          %li
            %a{href: "#"} Link 2
        %ul.right
          %li.search
            %form
              %input{type: "search"}/
          %li.has-button
            %a.small.button{href: "#"} Search
    / End Navigation
.row
  .large-12.columns
    / Desktop Slider
    .hide-for-small
      #featured
        %img{alt: "slide image", src: "http://placehold.it/1000x400&text=Slide%20Image"}/
    / End Desktop Slider
    / Mobile Header
    .row
      .small-12.show-for-small
        %br/
        %img{src: "http://placehold.it/1000x600&text=For%20Small%20Screens"}/
    / End Mobile Header
%br/
.row
  .large-12.columns
    .row
      / Thumbnails
      .large-3.small-6.columns
        %img{src: "http://placehold.it/250x250&text=Thumbnail"}/
        %h6.panel Description
      .large-3.small-6.columns
        %img{src: "http://placehold.it/250x250&text=Thumbnail"}/
        %h6.panel Description
      .large-3.small-6.columns
        %img{src: "http://placehold.it/250x250&text=Thumbnail"}/
        %h6.panel Description
      .large-3.small-6.columns
        %img{src: "http://placehold.it/250x250&text=Thumbnail"}/
        %h6.panel Description
      / End Thumbnails
.row
  .large-12.columns
    .row
      / Content
      .large-8.columns
        .panel.radius
          .row
            .large-6.small-6.columns
              %h4= @venue.name
              %hr/
              %h5.subheader= [@venue.location.address_one, @venue.location.address_two].join(',')
              %h5.subheader= [@venue.location.city, @venue.location.state].join(',')
              %h5.subheader= @venue.phone

              .show-for-small{style: "text-align: center"}
                %a.small.radius.button{href: "#"} Call To Action!
                %br/
                %a.small.radius.button{href: "#"} Call To Action!
            .large-6.small-6.columns
              %p= @venue.description
                
      .large-4.columns.hide-for-small
        %h4 Get In Touch!
        %hr/
        = link_to 'Book an Event here!', new_venue_event_path(@venue)
        %a{href: "#"}
          .panel.radius.callout{style: "text-align: center"}
            %strong Call To Action!
      / End Content
/ Footer
%footer.row
  .large-12.columns
    %hr/
    .row
      .large-6.columns
        %p © Copyright no one at all. Go to town.
      .large-6.columns
        %ul.inline-list.right
          %li
            %a{href: "#"} Link 1
          %li
            %a{href: "#"} Link 2
          %li
            %a{href: "#"} Link 3
          %li
            %a{href: "#"} Link 4






