<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

    <%= stylesheet_link_tag    "application", "datepicker3" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "https://rawgithub.com/arunisrael/angularjs-geolocation/master/dist/angularjs-geolocation.min.js" %>
    
    <%= javascript_include_tag "bootstrap-datepicker.js" %>

    <%= csrf_meta_tags %>
  </head>
  <body ng-app="myApp">
  
    <div ng-controller="mainCtrl">
      <p>Your location is: {{coords}}</p>
    </div>

    <%= yield %>
    <%= javascript_include_tag "application" %>
  </body>
</html>
